__pycache__/
.venv/*
.vscode/*
tdarr-noding/ansible_files/ansible.cfg
tdarr-noding/ansible_files/become_pass
tdarr-noding/ansible_files/inventory.ini
tdarr-noding/ansible_files/server_node_shutdown.yml
tdarr-noding/ansible_files/server_node_startup.yml
tdarr-noding/ansible_files/shutdown-node-a.yml
tdarr-noding/ansible_files/shutdown-node-b.yml
tdarr-noding/ansible_files/shutdown-node-c.yml
tdarr-noding/ansible_files/startup-node-a.yml
tdarr-noding/ansible_files/startup-node-b.yml
tdarr-noding/ansible_files/startup-node-c.yml
tdarr-noding/ansible_files/roles/shutdown-node-a/defaults/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-a/handlers/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-a/tasks/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-b/defaults/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-b/handlers/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-b/tasks/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-c/defaults/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-c/handlers/main.yml
tdarr-noding/ansible_files/roles/shutdown-node-c/tasks/main.yml
tdarr-noding/ansible_files/roles/startup-node-a/defaults/main.yml
tdarr-noding/ansible_files/roles/startup-node-a/handlers/main.yml
tdarr-noding/ansible_files/roles/startup-node-a/tasks/main.yml
tdarr-noding/ansible_files/roles/startup-node-b/defaults/main.yml
tdarr-noding/ansible_files/roles/startup-node-b/handlers/main.yml
tdarr-noding/ansible_files/roles/startup-node-b/tasks/main.yml
tdarr-noding/ansible_files/roles/startup-node-c/defaults/main.yml
tdarr-noding/ansible_files/roles/startup-node-c/handlers/main.yml
tdarr-noding/ansible_files/roles/startup-node-c/tasks/main.yml
tdarr-noding/configuration.yml
tdarr-noding/status.yml
.coding_venv/*
.general_venv/*
tdarr-noding/ansible_files/shutdown-ganoslal.yml
tdarr-noding/ansible_files/startup-ganoslal.yml
