ansible==9.1.0
  ansible-core==2.16.3
    cryptography==42.0.5
      cffi==1.16.0
        pycparser==2.21
    Jinja2==3.1.2
      MarkupSafe==2.1.3
    packaging==23.1
    PyYAML==6.0.1
    resolvelib==1.0.1
ansible-lint==6.22.0
  ansible-compat==4.1.10
    ansible-core==2.16.3
      cryptography==42.0.5
        cffi==1.16.0
          pycparser==2.21
      Jinja2==3.1.2
        MarkupSafe==2.1.3
      packaging==23.1
      PyYAML==6.0.1
      resolvelib==1.0.1
    jsonschema==4.18.6
      attrs==23.2.0
      jsonschema-specifications==2023.7.1
        referencing==0.30.2
          attrs==23.2.0
          rpds-py==0.18.0
      referencing==0.30.2
        attrs==23.2.0
        rpds-py==0.18.0
      rpds-py==0.18.0
    packaging==23.1
    PyYAML==6.0.1
    subprocess-tee==0.4.1
  ansible-core==2.16.3
    cryptography==42.0.5
      cffi==1.16.0
        pycparser==2.21
    Jinja2==3.1.2
      MarkupSafe==2.1.3
    packaging==23.1
    PyYAML==6.0.1
    resolvelib==1.0.1
  black==24.3.0
    click==8.1.7
    mypy-extensions==1.0.0
    packaging==23.1
    pathspec==0.11.1
    platformdirs==3.10.0
    tomli==2.0.1
  filelock==3.13.1
  jsonschema==4.18.6
    attrs==23.2.0
    jsonschema-specifications==2023.7.1
      referencing==0.30.2
        attrs==23.2.0
        rpds-py==0.18.0
    referencing==0.30.2
      attrs==23.2.0
      rpds-py==0.18.0
    rpds-py==0.18.0
  packaging==23.1
  pathspec==0.11.1
  PyYAML==6.0.1
  requests==2.31.0
    certifi==2023.11.17
    charset-normalizer==3.3.2
    idna==3.6
    urllib3==2.0.7
  rich==13.6.0
    markdown-it-py==3.0.0
      mdurl==0.1.2
    Pygments==2.15.1
  ruamel.yaml==0.18.5
    ruamel.yaml.clib==0.2.7
  subprocess-tee==0.4.1
  wcmatch==8.4.1
    bracex==2.4
  yamllint==1.32.0
    pathspec==0.11.1
    PyYAML==6.0.1
bandit==1.7.5
  GitPython==3.1.40
    gitdb==4.0.11
      smmap==5.0.0
  PyYAML==6.0.1
  rich==13.6.0
    markdown-it-py==3.0.0
      mdurl==0.1.2
    Pygments==2.15.1
  stevedore==5.1.0
    pbr==5.11.1
graphviz==0.20.1

lazy-object-proxy==1.9.0
pip-autoremove==0.10.0
  pip==24.0
  setuptools==68.0.0
pipdeptree==2.13.0
pylint==3.0.2
  astroid==3.1.0
    typing_extensions==4.10.0
  dill==0.3.8
  isort==5.12.0
  mccabe==0.7.0
  platformdirs==3.10.0
  tomli==2.0.1
  tomlkit==0.11.8
pywinrm==0.4.3
  requests==2.31.0
    certifi==2023.11.17
    charset-normalizer==3.3.2
    idna==3.6
    urllib3==2.0.7
  requests-ntlm==1.2.0
    cryptography==42.0.5
      cffi==1.16.0
        pycparser==2.21
    pyspnego==0.9.1
      cryptography==42.0.5
        cffi==1.16.0
          pycparser==2.21
    requests==2.31.0
      certifi==2023.11.17
      charset-normalizer==3.3.2
      idna==3.6
      urllib3==2.0.7
  six==1.16.0
  xmltodict==0.13.0
wheel==0.41.2
wrapt==1.16.0
