ansible==9.1.0
  ansible-core==2.16.2
    cryptography==41.0.7
      cffi==1.15.1
        pycparser==2.21
    Jinja2==3.1.2
      MarkupSafe==2.1.3
    packaging==23.1
    PyYAML==6.0.1
    resolvelib==1.0.1
pip==24.0
pywinrm==0.4.3
  requests==2.31.0
    certifi==2023.11.17
    charset-normalizer==3.3.2
    idna==3.6
    urllib3==2.0.3
  requests-ntlm==1.2.0
    cryptography==41.0.7
      cffi==1.15.1
        pycparser==2.21
    pyspnego==0.9.1
      cryptography==41.0.7
        cffi==1.15.1
          pycparser==2.21
    requests==2.31.0
      certifi==2023.11.17
      charset-normalizer==3.3.2
      idna==3.6
      urllib3==2.0.3
  six==1.16.0
  xmltodict==0.13.0
setuptools==68.0.0
wheel==0.41.2
