program:
  folder_path: "{PATH_TO_TDARR_NODING}/tdarr-noding"
  ansible_path: "{PATH_TO_ANSIBLE_FILES}"
tdarr_server:
  url: "http://{TDARR_SERVER_IP}:8265"
  api_string: "/api/v2"
  max_nodes: 4
  default_priority_level: 1
tdarr_nodes:
  NAME_OF_PRIMARY_NODE:
    primary_node: true
    healthcheck_worker_limits:
      min_cpu: 0
      max_cpu: 5
      min_gpu: 0
      max_gpu: 3
    transcode_worker_limits:
      min_cpu: 0
      max_cpu: 2
      min_gpu: 0
      max_gpu: 3
  NAME_OF_NON_PRIMARY_NODE:
    priority: 1
    startup_command: "{PATH_TO_FOLDER_ABOVE_VENV}/.venv/bin/ansible-playbook server_node_startup.yml"
    shutdown_command: "{PATH_TO_FOLDER_ABOVE_VENV}/.venv/bin/ansible-playbook server_node_shutdown.yml"
    healthcheck_worker_limits:
      min_cpu: 0
      max_cpu: 5
      min_gpu: 0
      max_gpu: 0
    transcode_worker_limits:
      min_cpu: 0
      max_cpu: 3
      min_gpu: 0
      max_gpu: 0
